<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
  <img
    src="../../../../../assets/default/svg/no-data.svg"
    width="100%"
    height="100%"
    [style]="style"
    *ngIf="type === 'no-data'"
  />
  <img
    src="../../../../../assets/default/svg/no-food.svg"
    width="100%"
    height="100%"
    [style]="style"
    *ngIf="type === 'no-food'"
  />
  <img
    src="../../../../../assets/default/svg/no-toys.svg"
    width="100%"
    height="100%"
    [style]="style"
    *ngIf="type === 'no-toys'"
  />
  <img
    src="../../../../../assets/default/svg/no-pet.svg"
    width="100%"
    height="100%"
    [style]="style"
    *ngIf="type === 'no-pet'"
  />
  <img
    src="../../../../../assets/default/svg/no-veterinary.svg"
    width="100%"
    height="100%"
    [style]="style"
    *ngIf="type === 'no-veterinary'"
  />
  <p style="color: #737373; font-size: large; text-align: center">Aún no existen datos.</p>
</div>
