ion-avatar {
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container {
  border-radius: 20px;
  background-color: #f1f5f8;
  height: 60px;
  width: 60px;
}

.to-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font {
  font-size: 14px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  color: #737373;
  margin-top: 18px;
}

ion-card {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.8);
  width: min-content;
  ion-card-content {
    text-align: -webkit-center;
  }
}

.active {
  ion-card-content {
    ion-icon {
      color: #ffffff !important;
    }
    .icon-container {
      background-color: #3670e5;
    }
  }
}
