.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.icon-container {
  border-radius: 20px;
  background-color: #f1f5f8;
  height: 60px;
  width: 60px;
}

.to-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font {
  font-size: 14px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  color: #737373;
  margin-top: 8px;
}

.active {
  ion-card-content {
    ion-icon {
      color: #ffffff !important;
    }
    .icon-container {
      background-color: #3670e5;
      box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }
}

ion-header {
  box-shadow: 0 0 0;
  ion-card {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.8);
    width: min-content;
    margin: 0;
    ion-card-content {
      padding: 5px;
      text-align: -webkit-center;
    }
  }
}

ion-content {
  ion-card {
    ion-card-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    ion-thumbnail {
      height: 90%;
      width: 100%;
      ion-img {
        border-radius: 20px;
      }
    }
  }
}

// Animations fired from view childs of router
.hide-toolbar {
  z-index: 0;
  top: 0;
  animation: fadeOutUp 250ms ease-in-out both;
}

.show-toolbar {
  z-index: 0;
  animation: fadeInDown 250ms ease-in-out both;
}

.toolbar-2 {
  position: fixed;
  top: 20;
  display: block;
  transition: top 0.5;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
