<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10" style="margin-top: 10px">
          <ion-buttons>
            <ion-button>
              <ion-icon name="apps"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>

        <ion-col size="2">
          <ion-buttons>
            <ion-avatar>
              <img
                src="https://cdn.shopify.com/s/files/1/0025/9384/9457/products/alcancia-guardian-the-galaxy-groot-figural-pvc-decoracion-monogram-416857_1024x.jpg?v=1591668186"
              />
            </ion-avatar>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-label>
      <p>Hola, Alejandro</p>
      <h2 style="font-weight: bold">Como podemos ayudarte hoy?</h2>
    </ion-label>
  </ion-item>

  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOPtions">
      <ion-slide>
        <!-- <ion-card>
          <ion-card-header> </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-content>
        </ion-card> -->

        <ion-item> ion </ion-item>
      </ion-slide>
    </ion-slides>
  </div>
</ion-header>

<ion-content> </ion-content>
