.font {
  font-size: 14px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  color: #737373;
  margin-top: 18px;
}

.active {
  ion-card-content {
    ion-icon {
      color: #ffffff !important;
    }
    .icon-container {
      background-color: #3670e5;
    }
  }
}

ion-card {
  ion-card-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.shrink {
  margin-top: 5%;
  -o-transition: margin-top 250ms;
  -moz-transition: margin-top 250ms;
  -webkit-transition: margin-top 250ms;
  transition: margin-top 250ms;
}

.expanded {
  margin-top: 40%;
  -o-transition: margin-top 250ms;
  -moz-transition: margin-top 250ms;
  -webkit-transition: margin-top 250ms;
  transition: margin-top 250ms;
}
