ion-header {
  position: fixed;
  --background: transparent;
  ion-toolbar {
    margin-top: 2rem;
    --background: transparent;

    ion-button {
      margin-right: 1rem;
      background: whitesmoke;
      border-radius: var(--border-radius);
      opacity: 0.7 !important;
    }
  }
}

ion-content {
  position: relative;
  img {
    height: 40%;
    width: 100%;
    object-fit: cover;
  }
}

.content {
  position: absolute;
  top: 35%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 60%;
  width: 100%;
  background: #f1f5f8;
  //   background: linear-gradient(to bottom, #ffffff, #f1f5f8);
}

.back-button {
  margin-left: 1rem !important;
  background: whitesmoke !important;
  border-radius: var(--border-radius) !important;
  opacity: 0.7 !important;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
