<ion-header class="ion-no-border">
  <ion-toolbar id="toolbarId" class="show-toolbar">
    <ion-buttons slot="start">
      <ion-button class="back-button" routerLink="/tabs/tab1/veterinarians">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <acp-img [url]="data.photo"></acp-img>

  <section class="content">
    <div class="icon-text-container">
      <h4 class="block-1">
        <strong>{{data.scientific_degree}} {{data.full_name}}</strong>
      </h4>
      <p class="block-2">{{data.clinic}}</p>
      <acp-rate [disabled]="true" [rating]="4" style="margin-top: 4px"></acp-rate>
      <!-- <p class="block-2">{{data.speciality}}</p> -->
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-chip color="tertiary" (click)="call(data.phone_number)">
            <ion-icon name="call-outline"></ion-icon>
            <ion-label>Llamar</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="4">
          <ion-chip color="warning" (click)="message(data.phone_number)">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <ion-label>Mensaje</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="4">
          <a [href]="url" style="text-decoration: none">
            <ion-chip color="success">
              <ion-icon name="logo-whatsapp"></ion-icon>
              <ion-label>Whatsapp</ion-label>
            </ion-chip>
          </a>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 3rem">
        <ion-col size="12">
          <h4 class="block-1">
            <strong>Acerca del veterinario</strong>
          </h4>
        </ion-col>
        <ion-col size="12">
          <p class="block-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus omnis neque ad atque eligendi
            libero soluta quo dolorem nesciunt inventore.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <h4 class="block-1">
            <strong>Ubicación</strong>
          </h4>
        </ion-col>
        <ion-col>
          <acp-map [id]="data.id"></acp-map>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
